<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="IFRS9Entities" connectionString="metadata=res://*/IFRS9EF.csdl|res://*/IFRS9EF.ssdl|res://*/IFRS9EF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.42.71.139,3301;initial catalog=IFRS9;user id=FBLKRISK;password=Password1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="IFRS9Entities" connectionString="metadata=res://*/IFRS9EF.csdl|res://*/IFRS9EF.ssdl|res://*/IFRS9EF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MARK-LAPTOP;initial catalog=IFRS9Second;user id=test1;password=1qaz@WSX;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="IFRS9Entities" connectionString="metadata=res://*/IFRS9EF.csdl|res://*/IFRS9EF.ssdl|res://*/IFRS9EF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-EOF4231\MSSQLSERVER2016;initial catalog=IFRS9Second;user id=test1;password=1qaz@WSX;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="txtLocation" value="txtLog" /><!--txt檔案放置位置-->
    <add key="samplePut" value="" /><!--samplePut檔案放置位置-->
    <add key="sampleGet" value="" /><!--sampleGet檔案放置位置-->
    <add key="commpanyPut" value="" /><!--commpanyPut檔案放置位置-->
    <add key="commpanyGet" value="" /><!--commpanyGet檔案放置位置-->
    <add key="getC04Put" value="" /><!--commpanyPut檔案放置位置-->
    <add key="getC04Get" value="" /><!--commpanyGet檔案放置位置-->
    <add key="FIRMNAME" value="dl789940"/><!--Bloomber FIRMNAME-->
    <add key="PROGRAMFLAG" value="one-shot"/><!--Bloomber PROGRAMFLAG-->
    <add key="USERNUMBER" value="10656169"/>
    <add key="WS" value="2"/>
    <add key="SN" value="648616"/>
    <add key="complement" value="Y"/><!--complement 設定為Y時,複寫前一版本已補登之信評 -->
  </appSettings>
</configuration>