<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="IFRS9Entities" connectionString="metadata=res://*/IFRS9EF.csdl|res://*/IFRS9EF.ssdl|res://*/IFRS9EF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-EOF4231\MSSQLSERVER2016;initial catalog=IFRS9Second;user id=test1;password=1qaz@WSX;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="txtLocation" value="txtLog" />
    <!--txt檔案放置位置-->
    <add key="samplePut" value="" />
    <!--samplePut檔案放置位置-->
    <add key="sampleGet" value="" />
    <!--sampleGet檔案放置位置-->
    <add key="commpanyPut" value="" />
    <!--commpanyPut檔案放置位置-->
    <add key="commpanyGet" value="" />
    <!--commpanyGet檔案放置位置-->
  </appSettings>
</configuration>